@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

body {
    margin: 1.2cm;
}

nav {
    text-align: right;
    font-family: "Open-Sans", sans-serif;
    font-size: 15px;
    color: hsl(238, 22%, 44%);
    font-weight: 400
}

nav ul li p:hover {
    color: blue;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    top: -1.6cm;  
}

nav img {
    display: flex;
    place-content: left;
}